{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>RESULT</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 't_asset/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
{% if cardio %}
	<h1> <span class="yellow">UN-SAFE!</span><br>Our System thinks you might be suffering from a Cardio-Vascular Disease. Please Visit a Doctor at the Earliest.</h1>
{% else %}
	<h1> <span class="yellow">SAFE!</span><br>Our System thinks you are not suffering from a Cardio-Vascular Disease.</h1>
{% endif %}
<h2>Project Created by : Harsh Bansal and Aryaman R. Sharma</h2>

<table class="container">
	<thead>
		<tr>
			<th><h1>Date</h1></th>
			<th><h1>Name</h1></th>
			<th><h1>Age</h1></th>
			<th><h1>Height</h1></th>
			<th><h1>Weight</h1></th>
			<th><h1>BP - High</h1></th>
			<th><h1>BP - Low</h1></th>
		</tr>
	</thead>
	<tbody>
		{% for x in entries %}
		<tr>
			<td>{{x.date}}</td>
			<td>{{x.name}}</td>
			<td>{{x.age}}</td>
			<td>{{x.height}}</td>
			<td>{{x.weight}}</td>
			<td>{{x.ap_hi}}</td>
			<td>{{x.ap_low}}</td>
		</tr>
		{% endfor %}
		<!-- <tr>
			<td>Google</td>
			<td>9518</td>
			<td>6369</td>
			<td>01:32:50</td>
		</tr>
		<tr>
			<td>Twitter</td>
			<td>7326</td>
			<td>10437</td>
			<td>00:51:22</td>
		</tr>
		<tr>
			<td>Amazon</td>
			<td>4162</td>
			<td>5327</td>
			<td>00:24:34</td>
		</tr>
    	<tr>
			<td>LinkedIn</td>
			<td>3654</td>
			<td>2961</td>
			<td>00:12:10</td>
		</tr>
    	<tr>
			<td>CodePen</td>
			<td>2002</td>
			<td>4135</td>
			<td>00:46:19</td>
		</tr>
    	<tr>
			<td>GitHub</td>
			<td>4623</td>
			<td>3486</td>
			<td>00:31:52</td>
		</tr> -->
	</tbody>
</table>
<!-- partial -->
  <script  src="{% static 't_asset/script.js' %}"></script>

</body>
</html>
